<p>Chào bạn !</p>
<p>
  Chủ đề: <b>CỬA HÀNG GẤU BÔNG</b> cảm ơn Quý Khách đã Đặt Hàng!

  Kính gửi Quý Khách,
  
  Chúng tôi xin chân thành cảm ơn Quý Khách đã tin tưởng và lựa chọn sản phẩm/dịch vụ của CỬA HÀNG GẤU BÔNG. Đơn hàng của Quý Khách đã được xác nhận và chúng tôi sẽ bắt đầu xử lý ngay lập tức.
  
  Thời gian dự kiến giao hàng: 1 - 3 ngày tới.
  
  Chúng tôi sẽ gửi email cập nhật khi đơn hàng được giao cho đơn vị vận chuyển. Nếu có bất kỳ câu hỏi hoặc yêu cầu hỗ trợ nào, Quý Khách vui lòng liên hệ với chúng tôi qua <b>cuahanggaubong@gmail.com</b>.
  
  Một lần nữa, xin cảm ơn Quý Khách đã tin tưởng và lựa chọn chúng tôi. Chúng tôi mong rằng sản phẩm/dịch vụ sẽ làm Quý Khách hài lòng.
</p>

<a href="<%= confirmation_url %>"><%= confirmation_url %></a>